body{
    background-color: #083b4c;
}

.container{
    display: flex;
    gap: 3%;
    justify-content: center;
    width: 80%;
    flex-wrap: wrap;
    margin: 0 auto;
    display: none;
}

.active{
    display: flex;
}

.title{
    text-align: center;
    font-size: 40px;
    color: #fff;
}

#start{
    margin-bottom: 50px;
}

button{
    width: 70%;
    font-size: 40px;
    font-weight: 30px;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

button:hover{
    cursor: pointer;
}


.col{
    border: 1px solid white;
    width: 10%;
    height: 120px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}

.color-number{
    background-color: #1389b2;
}

.fizz-color{
    background-color: #0cd6a1;
}

.buzz-color{
    background-color: #ffd166;
}

.fizzbuzz-color{
    background-color: #f0466f;
}

